@font-face {
  font-family: "IranSansX-Regular";
  src: url("./Assets/Fonts/IRANSansX-Regular.woff") format("woff");
}

@font-face {
  font-family: "IranSansX-Medium";
  src: url("./Assets/Fonts/IRANSansX-Medium.woff") format("woff");
}

@font-face {
  font-family: "IranSansX-Bold";
  src: url("./Assets/Fonts/IRANSansX-Bold.woff") format("woff");
}

@font-face {
  font-family: "IranSansX-Light";
  src: url("./Assets/Fonts/IRANSansX-Light.woff") format("woff");
}

@font-face {
  font-family: "IranSansX-Thin";
  src: url("./Assets/Fonts/IRANSansX-Thin.woff") format("woff");
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  direction: rtl;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IranSansX-Regular";
}

.swiper-pagination {
  height: auto !important;
}

.accordion-button {
  background-color: #fff !important;
  color: #000000 !important;
  display: flex;
  align-items: center;
  border: none !important;
}

.accordion-item {
  border: none !important;
}

.accordion-button:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #000000 !important;
}

.accordion-button::after {
  float: left !important;
  margin-right: auto !important;
  margin-left: 0 !important;
  background-image: url('./Assets/Icons/Plus.svg') !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: none !important;
  transition: background-image 10s linear;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('./Assets/Icons/Minus.svg') !important;
  height: 0.5rem !important;
}