@font-face {
  font-family: "IranSansX-Regular";
  src: url("./Assets/Fonts/IRANSansX-Regular.woff") format("woff");
}

@font-face {
  font-family: "IranSansX-Medium";
  src: url("./Assets/Fonts/IRANSansX-Medium.woff") format("woff");
}

@font-face {
  font-family: "IranSansX-Bold";
  src: url("./Assets/Fonts/IRANSansX-Bold.woff") format("woff");
}

@font-face {
  font-family: "IranSansX-Light";
  src: url("./Assets/Fonts/IRANSansX-Light.woff") format("woff");
}

@font-face {
  font-family: "IranSansX-Thin";
  src: url("./Assets/Fonts/IRANSansX-Thin.woff") format("woff");
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  direction: rtl;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IranSansX-Regular";
}

.swiper-pagination {
  height: auto !important;
}