.productContainer {
    width: 100%;
    background-color: #FAFAFA;
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 42px;
    display: flex;
    flex-direction: column;
}